.background {
    background-color: rgba(5, 5, 62, 0.825);
}

.background-dark {
    background-color: rgba(5, 5, 62, 0.438);
}

.full-height {
    min-height: 1000px;
}

.no-margin {
    margin: 0px;
}

.title {
    font-size: 50px;
}

.subtitle {
    font-size: 40px;
}

.button {
    box-shadow: 7px 7px 23px -2px rgba(0,0,0,0.68);
}

.contact {
    padding: 8px;
    background-color: rgba(5, 5, 62, 0.438);
    color: white;
    border: 3px solid rgb(255, 202, 44);
    border-radius: 10px;
    box-shadow: 7px 7px 23px -2px rgba(0,0,0,0.68);
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}
.width-20 {
    width: 20%;
}

.contact-button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 10px;
}